{% extends "base.html" %}

{% block headstyles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
<style>
  .card:hover{
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block page_content %}


<div class="container">
    <div class="d-flex m-3 justify-content-between align-items-center">
        
        <div class="bg-light p-3 rounded-lg m-3 " >
            Centre Name: {{upload.Centre.CentreName}}
        </div>
        <div class="bg-light p-3 rounded-lg m-3">Uploaded on {{upload.Timestamp}}</div>

        
        <div id="foo" class="bg-light p-3 rounded-lg m-3">ESR{{upload.ESR}}</div>


    </div> 

    <div class="bg-info p-3 m-3 d-flex rounded-lg justify-content-between align-content-center">
      The multi-night recording is in the following folder: {{upload.Location}} in the portal destination folder.
    </div>
    <div class="bg-info p-3 m-3 d-flex rounded-lg justify-content-between align-content-center">
      The individual night recordings should go into the following location in the individual-night waiting room: {{upload.Location}}xx.
    </div>     
    
    {% if scannedNights|length > 0 %}

      <form action="/upload" method="post" enctype="multipart/form-data">
        <table id="centres-table{{ centre.Id }}" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Location</th>
              <th>Recording Quality</th>
              <th>Automatic check</th>
              <th>ESR</th>
            </tr>
          </thead>
          <tbody>
            {% for night in scannedNights %}
              <tr>
                <td>{{ upload.Centre.FolderLocation }}/{{ night.ESR }}</td>
                <td>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{night.ESR}}" id="inlineRadio1-{{night.ESR}}" value="good">
                    <label class="form-check-label" for="inlineRadio1">Ok</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{night.ESR}}" id="inlineRadio2-{{night.ESR}}" value="bad">
                    <label class="form-check-label" for="inlineRadio2">Not Ok</label>
                  </div>
                </td>

                {% if night.isValid[0] %}
                <td>
                  ✓
                </td>
                {% else %}
                <td class="bg-danger">
                  {{night.isValid[1]}}
                </td>
                {% endif %}
                <td>ESR{{ night.ESR }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


        <!-- <table id="centres-table{{ centre.Id }}" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Location</th>
                <th>Recording Quality</th>
                <th>Night Number</th>
                <th>ESR</th>
              </tr>
            </thead>
            <tbody>
              {% for night in scannedNights %}
                <tr>
                  <td>{{ night }}</td>
                  <td>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions-{{night}}" id="inlineRadio1-{{night}}" value="ok">
                      <label class="form-check-label" for="inlineRadio1">Ok</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions-{{night}}" id="inlineRadio2-{{night}}" value="notOk">
                      <label class="form-check-label" for="inlineRadio2">Not Ok</label>
                    </div>
                    
                  </td>
                  <td>
                    
                  </td>
                  <td>{{ night }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table> -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
        
        {% else %}
          <p>No Nights Found for this recording.</p>
        {% endif %}
      </div>
</div>



{% endblock %}
