{% set random_num = range(1,9)|random %}

{% extends "base.html" %}

{% block page_content %}

<script>
    const existingRecordings = [
      {% for upload in uploads %}
        {
          recordingNumber: {{ upload.RecordingNumber }},
          isReturning: {{ 'true' if upload.IsFollowup else 'false' }}
        },
      {% endfor %}
    ];
</script>
  


<div class="container col-xxl-8 px-1 py-1">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-md-6">
      <img id="front-image" src="{{ url_for('static', path='img/sleeping_scientist_' ~ random_num ~'.png') }}" class="d-block mx-lg-auto img-fluid" alt="Sleep scientist at work" loading="lazy" width="400" height="300">
    </div>
    <div class="col-md-6">
      <h1 class="display-5 fw-bold mb-3">Data Upload Portal</h1>
      <p class="mb-4">Welcome to the <strong>Sleep Revolution Data Upload Portal</strong>. We offer a secure platform for participating research centers to submit their sleep measurement data.</p>
      <p class="mb-4">Kindly upload individual zip files that contain a single sleep study. Once processed, these will be made available to you on the Sleep Revolution cluster.</p>
      <p>For further assistance and common queries, refer to our <a href="https://wiki.sleep.ru.is" class="text-decoration-underline">wiki</a>.</p>
  </div>
  </div>
</div>



<div class="container mt-5">
    <h3>Upload a Zip File</h3>

    <form id="upload-form" enctype="multipart/form-data">
    

    <div class="row"> <!-- Assuming you want a row here as the previous code seems to be part of one -->
        <div class="col-md-6">
            <label for="recordingNumber" class="form-label">Participant Number</label>
            <input class="form-control" type="number" min="1" id="recordingNumber" name="file" oninput="updateRecordingDetails()" />
        </div>
        <div class="col-md-6 text-center" style="display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: 1em;">
            <label for="recordingDetails" class="form-label">Recording Identifier</label>
            <span id="recordingDetails" style="font-size: 1.5em;">
                {{centre.Prefix}}{{centre.MemberNumber}}---
            </span>
        </div>
    </div>
    
    <div class="bg-light p-3 rounded-lg mt-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="returningParticipant" onchange="updateRecordingDetails()">
            <label class="form-check-label" for="returningParticipant">
                This is a returning participant
            </label>
        </div>
    </div>

    <div class="bg-light p-3 rounded-lg mt-4">
      <label for="file" class="form-label">File Input</label>
      <input class="form-control" type="file" id="file" name="file" required>
    </div>

    
    <div class="bg-light rounded-lg p-3 mt-4">
      <div class="d-grid gap-2">
        <!-- Add a checkbox with an ID and label -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="checkbox" onchange="updateSubmitButtonStatus()">
          <label class="form-check-label" for="checkbox">
            I verify that the file does not contain any personal information as instructed <a href="https://wiki.sleep.ru.is/doku.php?id=esada_instructions:anonymization_instructions" target="_blank" rel="noopener noreferrer">Here</a>
          </label>
        </div>

        <div id="progressdiv" style="display:none" class="progress m-3">
          <div id="uploadprogress" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>
        <!-- Modify the submit button to be initially disabled -->
        <button id="upload-button" class="btn btn-primary" type="submit" disabled>
          <i class="bx bxs-cloud-upload" style="font-size:1.4em;"></i>
          <span id="loadingSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none;"></span>
          Submit
        </button>
      </div>
    </div>
  </form>
</div>



{% endblock %}


{% block extrascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js" integrity="sha512-wT7uPE7tOP6w4o28u1DN775jYjHQApdBnib5Pho4RB0Pgd9y7eSkAV1BTqQydupYDB9GBhTcQQzyNMPMV3cAew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        const form = $("#upload-form")
        const fileInput = document.querySelector('input[type="file"]');

        $('#upload-form').on('submit', function (e) {
            e.preventDefault();
            uploadButton = document.getElementById("upload-button");
            uploadButton.setAttribute("disabled", "disabled"); // Disable the submit button
            // return;
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append('file', file);
            formData.append('recordingNumber', $("#recordingNumber").val());
            
            formData.append('isFollowup', $("#returningParticipant").is(":checked"));
            console.log(formData);

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/uploadfile');
            xhr.setRequestHeader('Authorization', `Bearer ${Cookies.get('session_id')}`);

            xhr.upload.addEventListener('progress', function (event) {
            if (event.lengthComputable) {
                const progress = Math.round((event.loaded / event.total) * 100);
                // console.log('Upload Progress:', progress + '%');
                const progressBar = document.getElementById('uploadprogress');
                document.getElementById("progressdiv").style.display='block'
                progressBar.style.width = progress + '%';
                progressBar.innerText = progress + '%';
                progressBar.setAttribute('aria-valuenow', `${progress}%`);
                // Update your progress UI here if needed
            }
        });

            xhr.onload = function () {
                window.location = xhr.responseURL
            };
            xhr.send(formData);
        });
    });

  let ellipsisCount = 0;
  let ellipsisInterval;

    function updateEllipsis() {
        const ellipsisOptions =[':..', '.:.', '..:', '...']
        const ellipsis = ellipsisOptions[ellipsisCount];
        ellipsisCount = (ellipsisCount + 1) % ellipsisOptions.length;
        let centreMemberNumber = "{{centre.MemberNumber}}";
        centreMemberNumber = centreMemberNumber.length == 1 ? `0${centreMemberNumber}`: centreMemberNumber
        document.getElementById("recordingDetails").innerHTML = `{{centre.Prefix}}${centreMemberNumber}-${ellipsis}`;
    }

  // Start the ellipsis animation immediately
  updateEllipsis()
  ellipsisInterval = setInterval(updateEllipsis, 750);

//   const existingRecordingNumbers = [
//     {% for upload in uploads %}
//       {{ upload.RecordingNumber }},
//     {% endfor %}
//   ];   

    function recordingNumberExists(recordingNumber) {
        return existingRecordings.some(recording => recording.recordingNumber === recordingNumber);
    }
    function returningVisitAlreadyExistsForRecordingNumber(recordingNumber) {
        return existingRecordings.some(recording => recording.recordingNumber === recordingNumber && recording.isReturning);
    }

    function updateRecordingDetails() {
        let centreMemberNumber = "{{centre.MemberNumber}}"; // Get the centre ID value from your server-side code
        if(centreMemberNumber.length < 2){
          centreMemberNumber = "0" + centreMemberNumber;
        }

        const recordingNumberInput = document.getElementById("recordingNumber"); // Get the recording number input element
        let recordingNumber = recordingNumberInput.value; // Get the recording number value from the input element
        
        if (!recordingNumber) {
            ellipsisCount = 0; // Reset ellipsisCount if recording number is not set
            clearInterval(ellipsisInterval); // Clear interval if recording number is not set
            ellipsisInterval = setInterval(updateEllipsis, 750); // Restart ellipsis animation
        } else {
            clearInterval(ellipsisInterval); // Clear interval if recording number is set
            const recordingDetails = document.getElementById("recordingDetails"); // Get the recordingDetails div element
            recordingNumber = String(recordingNumber).padStart(3,'0')
            // returningVisit Flag is "-R" if the recording number is already in the existing recordings list and is a returning visit
            let followUpVisitFlag = $("#returningParticipant").is(":checked") ? "-F" : "";
            recordingDetails.innerHTML = `{{centre.Prefix}}${centreMemberNumber}-${recordingNumber}${followUpVisitFlag}`; // Update the content of the recordingDetails div with the concatenated values
        }

        updateSubmitButtonStatus(); 
    }

    function updateSubmitButtonStatus() {
        const submitButton = document.getElementById("upload-button");
        const form = document.getElementById("upload-form");

        // Check if all required fields in the form are filled
        const isFormValid = form.checkValidity();
        const checkbox = document.getElementById('checkbox');
        const returningParticipantCheckbox = document.getElementById('returningParticipant');

        const recordingNumberInput = document.getElementById("recordingNumber");
        const recordingNumber = parseInt(recordingNumberInput.value);

        // Find if recording number exists and their returning status
        const matchingRecords = existingRecordings.filter(record => record.recordingNumber === recordingNumber);
        const hasNonReturningRecord = matchingRecords.some(record => !record.isReturning);
        const hasReturningRecord = matchingRecords.some(record => record.isReturning);

        // Check various conditions for enabling the submit button
        if (!isFormValid || !checkbox.checked) {
            submitButton.setAttribute("disabled", "disabled");
            submitButton.innerHTML = "Fill All Fields and Confirm No Personal Information";
        } else if (!returningParticipantCheckbox.checked && hasNonReturningRecord) {
            submitButton.setAttribute("disabled", "disabled");
            submitButton.innerHTML = "Duplicate participant, is this a returning participant?";
        } else if (returningParticipantCheckbox.checked && (!hasNonReturningRecord || hasReturningRecord)) {
            submitButton.setAttribute("disabled", "disabled");
            submitButton.innerHTML = hasReturningRecord ? "Duplicate Returning Participant" : "This participant is not a returning participant";
        } else {
            submitButton.removeAttribute("disabled");
            submitButton.innerHTML = "<i class='bx bxs-cloud-upload' style='font-size:1.4em;'></i><span id='loadingSpinner' class='spinner-border spinner-border-sm' role='status' aria-hidden='true' style='display:none;'></span> Submit";
        }
    }


    // Attach the updateSubmitButtonStatus function to input events on required fields

    document.getElementById("upload-button").setAttribute("disabled", "disabled");
    const requiredInputs = document.querySelectorAll("[required]");
    console.log(requiredInputs);
    requiredInputs.forEach(input => {
        input.addEventListener("input", updateSubmitButtonStatus);
    });
</script>

{% endblock %}

